<a href="https://colab.research.google.com/github/poonmanz/portfolio/blob/main/MiniProjectCars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown --id 1WKBxeUx0XQ7hG6IaZ72GgU9ZsXlPOQIm
!unzip rod.kaidee.dataset.zip

Downloading...
From: https://drive.google.com/uc?id=1WKBxeUx0XQ7hG6IaZ72GgU9ZsXlPOQIm
To: /content/rod.kaidee.dataset.zip
3.10MB [00:00, 99.2MB/s]
Archive:  rod.kaidee.dataset.zip
  inflating: data_source.txt
  inflating: test.csv
  inflating: train.csv

# Import Library

In [ ]:
import numpy as np
import pandas as pd

# Load Data

In [ ]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# Clean Data

In [ ]:
train_df

        price  ...      car_type
0      569000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
1     1150000  ...      ‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ
2      799000  ...  ‡∏£‡∏ñ MPV / SUV
3      429000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
4      268000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
...       ...  ...           ...
7098  1990000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
7099   299000  ...       ‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
7100  1290000  ...  ‡∏£‡∏ñ MPV / SUV
7101   479000  ...  ‡∏£‡∏ñ MPV / SUV
7102  1238000  ...  ‡∏£‡∏ñ MPV / SUV

[7103 rows x 13 columns]

In [ ]:
train_df.isna().sum()

price              0
desc             171
ad_id              0
location           0
timestamp          0
mileage         1662
brand              0
model              0
year               0
fuel               0
transmission     213
color            255
car_type           0
dtype: int64

In [ ]:
def clean_data(df):
  for col in df.columns:
    if col != 'price':

       mode = df[col].mode()[0]
       df[col] = df[col].fillna(mode)
      
      # ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å Mean ‡∏ï‡πâ‡∏≠‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô ‡πÅ‡∏ï‡πà‡πÉ‡∏ô Columns ‡πÄ‡∏ä‡πà‡∏ô transmission ‡πÅ‡∏•‡∏∞ color ‡πÄ‡∏õ‡πá‡∏ô string ‡∏´‡∏£‡∏∑‡∏≠‡∏Ç‡πâ‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏° ‡∏à‡∏∂‡∏á‡πÑ‡∏°‡πà‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏ó‡∏≥‡πÑ‡∏î‡πâ
      # ‡πÇ‡∏à‡∏ó‡∏¢‡πå‡∏•‡∏±‡∏Å‡∏©‡∏ì‡∏∞‡∏ô‡∏µ‡πâ‡∏≠‡∏≤‡∏à‡∏à‡∏∞‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤‡∏î‡πâ‡∏ß‡∏¢‡∏ê‡∏≤‡∏ô‡∏ô‡∏¥‡∏¢‡∏°‡∏´‡∏£‡∏∑‡∏≠ Mode
      # mean = df[col].mean() 
      # df[col] = df[col].fillna(mean)

  return df

In [ ]:
train_cl_df = clean_data(train_df)
train_cl_df.isna().sum()

price           0
desc            0
ad_id           0
location        0
timestamp       0
mileage         0
brand           0
model           0
year            0
fuel            0
transmission    0
color           0
car_type        0
dtype: int64

In [ ]:
test_cl_df = clean_data(test_df)
test_cl_df.isna().sum()

price           0
desc            0
ad_id           0
location        0
timestamp       0
mileage         0
brand           0
model           0
year            0
fuel            0
transmission    0
color           0
car_type        0
dtype: int64

# Feature Extraction

In [ ]:
train_df

        price  ...      car_type
0      569000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
1     1150000  ...      ‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ
2      799000  ...  ‡∏£‡∏ñ MPV / SUV
3      429000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
4      268000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
...       ...  ...           ...
7098  1990000  ...        ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á
7099   299000  ...       ‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞
7100  1290000  ...  ‡∏£‡∏ñ MPV / SUV
7101   479000  ...  ‡∏£‡∏ñ MPV / SUV
7102  1238000  ...  ‡∏£‡∏ñ MPV / SUV

[7103 rows x 13 columns]

**‡∏Å‡πà‡∏≠‡∏ô‡∏à‡∏∞‡∏ó‡∏≥ One hot encoding (get_dummies) ‡∏ï‡πâ‡∏≠‡∏á‡∏î‡∏π‡∏ß‡πà‡∏≤‡∏à‡∏≥‡∏ô‡∏ß‡∏ô ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô Column ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà**

In [ ]:
# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏¢‡∏µ‡∏´‡πâ‡∏≠‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡πÉ‡∏ô train_df ‡πÅ‡∏•‡∏∞ test_df. ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
print(train_df['brand'].unique())
print(test_df['brand'].unique())
print(len(train_df['brand'].unique()) - len(test_df['brand'].unique()))

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏£‡∏∏‡πà‡∏ô‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡πÉ‡∏ô train_df ‡πÅ‡∏•‡∏∞ test_df. ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
print(train_df['model'].unique())
print(test_df['model'].unique())
print(len(train_df['model'].unique()) - len(test_df['model'].unique()))

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏™‡∏µ‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡πÉ‡∏ô train_df ‡πÅ‡∏•‡∏∞ test_df. ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
print(train_df['color'].unique())
print(test_df['color'].unique())
print(len(train_df['color'].unique()) - len(test_df['color'].unique()))

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡πÉ‡∏ô train_df ‡πÅ‡∏•‡∏∞ test_df. ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
print(train_df['car_type'].unique())
print(test_df['car_type'].unique())
print(len(train_df['car_type'].unique()) - len(test_df['car_type'].unique()))

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡πÉ‡∏ô train_df ‡πÅ‡∏•‡∏∞ test_df. ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
print(train_df['fuel'].unique())
print(test_df['fuel'].unique())
print(len(train_df['fuel'].unique()) - len(test_df['fuel'].unique()))

# ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏Ç‡∏≠‡∏á‡∏£‡∏ñ ‡πÉ‡∏ô train_df ‡πÅ‡∏•‡∏∞ test_df. ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà
print(train_df['transmission'].unique())
print(test_df['transmission'].unique())
print(len(train_df['transmission'].unique()) - len(test_df['transmission'].unique()))

print(train_df['location'].unique())
print(test_df['location'].unique())
print(len(train_df['location'].unique()) - len(test_df['location'].unique()))

['Mazda' 'Chevrolet' 'Mitsubishi' 'Toyota' 'Nissan' 'Isuzu' 'Honda'
 'Mercedes-Benz' 'Ford' '‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠‡∏≠‡∏∑‡πà‡∏ô‡πÜ' 'Mini' 'BMW' 'Suzuki' 'Lexus' 'Audi'
 'Subaru' 'MG' 'Volkswagen' 'Land Rover' 'Hyundai' 'Volvo' 'Proton' 'Kia'
 'Porsche' 'Jeep']
['Ford' 'Isuzu' 'Toyota' 'Honda' 'Mitsubishi' 'Mercedes-Benz' 'Suzuki'
 'Nissan' 'Mazda' 'Chevrolet' 'Lexus' 'Land Rover' 'BMW' 'Porsche' 'MG'
 'Audi' 'Volkswagen' 'Proton' 'Subaru' 'Hyundai' 'Volvo' 'Mini'
 '‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠‡∏≠‡∏∑‡πà‡∏ô‡πÜ' 'Jeep' 'Kia']
0
['Mazda2 Sport' '‡∏£‡∏∏‡πà‡∏ô‡∏≠‡∏∑‡πà‡∏ô‡πÜ' 'Pajero Sport' 'Camry' 'Almera' 'D-MAX'
 'BIG-M' 'Camaro' 'Jazz' 'Civic' 'Vios' 'CLA-Class' 'City' 'Ranger'
 'Mazda3' 'HR-V' 'ONE' 'Avanza' 'NP300-NAVARA' 'Hi-Lander' 'Triton'
 'Lancer' 'Innova' 'Fiesta' 'Soluna' 'Series 5' 'Mazda2 Elegance'
 'Everest' 'Hilux Vigo Champ' 'Fortuner' 'Hilux Revo' 'Series 3' 'CR-V'
 'MU-X' 'Ciaz' 'Aveo' 'Juke' 'A-Class' 'Mirage' 'Ecosport' 'Odyssey'
 'Accord' 'E-Class' 'Pajero' 'Vellfire' 'Altis' 'Commuter' 'Yaris'
 'Hilux Hero' 'COOPER' 'Hilux Vigo D4D' 'BT-50' 'Brio Amaze' 'ES300'
 'Audi TT ' 'C-Class' 'Carry' 'Impreza' 'MG3' 'Freed' 'CX-3' 'Brio'
 'Caravelle' 'X-Trail' 'Alphard' 'Vito' 'Sylphy' 'Trailblazer' 'Estima'
 'Sienta' 'Wish' 'Prelude' 'X1' 'Freelander' 'BT-50 Pro' 'March' 'CX-5'
 'Grand Starex' 'H-1 ' 'Hilux Vigo' 'Captiva' 'Escape' 'Swift' 'SLK-Class'
 'Cadillac Fleetwood' 'MGF' 'Colorado' 'Golf' 'Dragon Eye' 'Hilux Tiger'
 'Pulsar' 'Navara' 'Hilux Sport Rider' 'Stream' 'Cyclone' 'Hiace' 'C-HR'
 'Teana' '250' 'Terra' 'ZS' 'Tiida' 'V40' 'GLC-Class' 'MG5' 'Space Wagon'
 'Livina' 'Corolla' 'Yaris ATIV' 'XV' 'Series 7' 'Mobilio' 'Spark Ex'
 'Audi Q7 ' 'Note' 'FTO' 'CLS-Class' 'Neo' 'Cab 4' 'Lancer Ex' 'BR-V'
 'Thunder' 'Series 4' 'Carina' 'MU-7' 'Discovery' 'X3' 'Land Cruiser' 'X5'
 'Audi R8 ' 'Hilux Mighty-X' 'Carnival' 'Urvan' '220' 'Classic Car'
 'Sunny' '200' 'Supra' 'Series 1' 'S-Class' 'V60' 'Ventury' 'Sonic '
 'BIG-M FRONTIER NAVARA' 'S60' 'Cortina' 'FRONTIER' 'Attrage' 'Corona'
 'Accord Hybrid' 'Cayman' 'Vitara' 'Grand Adventure' 'TFR ‡∏õ‡∏µ 91-97'
 'Prius' 'MG6' 'Dragon Power' 'GS' 'Xpander' 'Spacio' 'Cayenne' 'Cruze'
 'Cameo' 'Z4' 'Focus' 'Spacecab' '230' 'Boxster' 'Panamera' 'GLA-Class'
 'Picanto' 'X6' 'CLK-Class' 'ML-Class' 'Legend' '323' 'Surf' 'Audi Q8'
 '718' 'Range Rover Velar' 'Familia' 'Series 6' 'Cherokee'
 'Grand Cherokee' '350' 'RX300' 'Optra' 'Strada Grandis' 'Harrier'
 'Range Rover' 'Adventure' 'XC60' 'G-WAGON' 'Xciter' 'S40' 'Cefiro'
 '200 SX' '940' '500' 'Audi A6 ' 'NV' 'IS250' 'Saga' '300 ZX' 'Ertiga'
 'COUNTRYMAN' 'Sport Cruiser' 'Crown' 'Celerio' 'Elantra' '960'
 'Hilux Tiger D4D' 'Passat' '240' 'I8' 'Forester' '121' 'SLC-Class'
 '996 GT3' 'Corvette' 'Series 2' 'Adventure Master' 'RAV 4' 'RX270' 'XC90'
 '350Z' 'Delica' 'S90' 'Trooper' 'Willy' 'Bluebird' 'Sport Rider'
 'Range Rover Evoque' 'Lincoln' 'New Beetle' 'L200-Strada' 'MX-5' 'IST'
 'Land Cruiser Prado' 'Integra' 'S80' 'Grand Carnival' 'APV' 'Audi TT RS '
 'BB' 'COOPER 3 DOOR HATCH' 'Terrano' '190' '280' 'Buddy' 'Super Custom'
 'Fighter' 'Mark ll' '86GT' '300' 'Transporter' 'Carrera' 'Stepwagon'
 'Zafira' 'V-Cross' 'Celica' '911 Carrera S' 'Mustang' 'Exora' 'Legacy'
 'Grand Hiace' 'CLUBMAN' 'Skyline' 'Tucson' 'Persona' 'Audi 80 ' 'Beetle'
 'M3' 'GLE-Class' 'Excel' 'Aspire' 'Cube' 'Strada G Wagon' 'Serena'
 'Audi A4 ' 'Jumbo' 'Tribute' 'Festiva' 'AUSTIN MINI' 'SX4' 'Granvia' 'I3'
 'KB ‡∏õ‡∏µ 84-90' 'B2500' 'LN' 'Audi Q5 ' 'Soarer' 'Ipsum' 'B-Class'
 '4Runner' 'Cedric' 'L200-Cyclone' 'Pregio' '911 Carrera' 'Sentra'
 'Fairlady' 'GS300' 'CX-7' '740' 'Nx300h' 'Preve' 'Audi TTS ' 'S2000' 'M4'
 '911 Turbo' 'Audi A5 ' 'SL-Class' 'Scirocco' 'Tiburon']
['Ranger' 'MU-7' 'Hilux Revo' 'Fortuner' 'Hilux Vigo' 'Jazz' 'D-MAX'
 'Hilux Vigo D4D' 'Attrage' 'E-Class' 'Accord' 'Vios' 'Ciaz' 'Note'
 'Civic' 'Mazda2 Elegance' 'Colorado' 'NP300-NAVARA' 'CR-V' 'Triton'
 'IS250' 'Innova' 'Discovery' 'Series 4' 'Soluna' 'Altis' 'Corolla'
 'Cayman' 'March' 'Almera' 'CX-5' 'HR-V' 'City' 'Spark Ex' 'Hi-Lander'
 'Mazda2 Sport' 'Sienta' 'Camry' 'C-Class' 'Yaris' 'Series 3' 'Hilux Hero'
 'Wish' 'C-HR' 'Pajero Sport' 'Brio Amaze' 'Alphard' 'Hilux Vigo Champ'
 'KB ‡∏õ‡∏µ 84-90' '200' 'FRONTIER' 'Corona' 'Pajero' 'Tiida' 'Swift'
 'BT-50 Pro' 'Sonic ' 'Mazda3' 'Strada G Wagon' 'Series 5' 'CLS-Class'
 'X1' 'Mirage' 'MU-X' 'Stanza' '280' 'SX4' 'Cayenne' 'Cab 4'
 'Hilux Mighty-X' 'Ventury' 'V-Cross' 'MG5' 'Commuter' 'Audi TT '
 'Caravelle' 'Avanza' 'Sunny' 'Hiace' 'Preve' 'Vellfire' 'Teana'
 'Forester' 'Spacecab' 'Hilux Tiger' '230' 'ML-Class' 'M5' 'Everest' 'X6'
 'X5' 'GLC-Class' 'Navara' 'GLA-Class' 'X-Trail' 'Caribian' 'H-1 '
 'Captiva' 'S90' 'MINI' 'XC60' 'Champ' 'COOPER' 'Grand Adventure'
 'COUNTRYMAN' '940' 'BT-50' 'Sylphy' 'Audi A1 ' 'Familia' 'L200-Strada'
 'Celerio' 'Macan' 'Fiesta' 'Lancer' 'MG6' 'Passat' 'New Beetle' 'Mobilio'
 'Hilux Tiger D4D' '‡∏£‡∏∏‡πà‡∏ô‡∏≠‡∏∑‡πà‡∏ô‡πÜ' 'Carry' 'Dragon Power' 'Prius' 'RX270'
 'Harrier' 'CLA-Class' '250' 'A-Class' 'Series 6' 'Cefiro' 'Pulsar' '190'
 'Brio' 'Ecosport' 'BR-V' 'CLK-Class' 'Panamera' 'XV' 'Willy' 'X3' '323'
 'V-Class' 'Ertiga' 'ZS' 'Jumbo' 'MG3' 'Adventure' 'S-Class'
 'Land Cruiser Prado' 'Strada Grandis' 'Cameo' 'Grand Carnival' 'Cruze'
 'Range Rover' 'Escape' '350' 'Optra' '929' 'Mustang' 'Juke' 'Freed'
 'CR-X' 'B2500' 'Persona' 'Series 7' '300' 'SLK-Class' 'Yaris ATIV'
 'SL-Class' 'NV' 'Audi A5 ' 'BIG-M FRONTIER NAVARA' 'Lancer Ex'
 'Land Cruiser' 'Audi RS5 ' 'Granvia' '911 Carrera S' 'GT-R' 'Estima'
 'Trailblazer' 'Vito' '370Z' 'Sport Rider' 'S60' 'S80' 'Series 1' 'Crown'
 'Stream' 'GS' 'APV' 'Zafira' 'V40' 'Primera' 'Impreza' 'Focus' 'MR-S'
 'Spin' 'Elantra' 'Odyssey' 'Soarer' 'BIG-M' 'Range Rover Evoque'
 'Grand Cherokee' 'Datsuns' 'Boxster' 'COOPER 3 DOOR HATCH' 'Freelander'
 'Dragon Eye' 'Scirocco']
104
['‡πÄ‡∏ó‡∏≤' '‡πÅ‡∏î‡∏á' '‡∏Ç‡∏≤‡∏ß' '‡∏î‡∏≥' '‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á' '‡∏ü‡πâ‡∏≤' '‡∏™‡πâ‡∏°' '‡∏ö‡∏£‡∏≠‡∏ô‡∏ã‡πå‡πÄ‡∏á‡∏¥‡∏ô' '‡∏ô‡πâ‡∏≥‡πÄ‡∏á‡∏¥‡∏ô'
 '‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ß' '‡∏ö‡∏£‡∏≠‡∏ô‡∏ã‡πå‡∏ó‡∏≠‡∏á' '‡∏ô‡πâ‡∏≥‡∏ï‡∏≤‡∏•' '‡∏°‡πà‡∏ß‡∏á' '‡∏ä‡∏°‡∏û‡∏π' '‡∏Ñ‡∏£‡∏µ‡∏°']
['‡∏î‡∏≥' '‡∏ö‡∏£‡∏≠‡∏ô‡∏ã‡πå‡πÄ‡∏á‡∏¥‡∏ô' '‡∏Ç‡∏≤‡∏ß' '‡πÄ‡∏ó‡∏≤' '‡πÅ‡∏î‡∏á' '‡∏ü‡πâ‡∏≤' '‡∏ô‡πâ‡∏≥‡πÄ‡∏á‡∏¥‡∏ô' '‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ß' '‡∏ö‡∏£‡∏≠‡∏ô‡∏ã‡πå‡∏ó‡∏≠‡∏á'
 '‡∏™‡πâ‡∏°' '‡∏ô‡πâ‡∏≥‡∏ï‡∏≤‡∏•' '‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á' '‡∏°‡πà‡∏ß‡∏á']
2
['‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á' '‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ' '‡∏£‡∏ñ MPV / SUV' '‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞' '‡∏£‡∏ñ‡∏ï‡∏π‡πâ']
['‡∏£‡∏ñ‡∏Å‡∏£‡∏∞‡∏ö‡∏∞' '‡∏£‡∏ñ MPV / SUV' '‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á' '‡∏£‡∏ñ‡∏ï‡∏π‡πâ' '‡∏£‡∏ñ‡∏≠‡∏∑‡πà‡∏ô ‡πÜ']
0
['‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô' '‡∏î‡∏µ‡πÄ‡∏ã‡∏•' '‡πÑ‡∏Æ‡∏ö‡∏£‡∏¥‡∏î' '‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô + LPG' '‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô + NGV' '‡∏î‡∏µ‡πÄ‡∏ã‡∏• + NGV'
 'LPG' 'NGV' '‡∏î‡∏µ‡πÄ‡∏ã‡∏• + LPG']
['‡∏î‡∏µ‡πÄ‡∏ã‡∏•' '‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô' '‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô + LPG' '‡πÑ‡∏Æ‡∏ö‡∏£‡∏¥‡∏î' '‡πÄ‡∏ö‡∏ô‡∏ã‡∏¥‡∏ô + NGV' '‡∏î‡∏µ‡πÄ‡∏ã‡∏• + LPG'
 'LPG' '‡∏î‡∏µ‡πÄ‡∏ã‡∏• + NGV']
1
['‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥' '‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤']
['‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏≠‡∏±‡∏ï‡πÇ‡∏ô‡∏°‡∏±‡∏ï‡∏¥' '‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤']
0
['‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£' '‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ' '‡∏™‡∏á‡∏Ç‡∏•‡∏≤' '‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°' '‡∏°‡∏´‡∏≤‡∏™‡∏≤‡∏£‡∏Ñ‡∏≤‡∏°' '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏≤‡∏Ñ‡∏£'
 '‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á' '‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ' '‡∏•‡∏û‡∏ö‡∏∏‡∏£‡∏µ' '‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤' '‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ' '‡∏â‡∏∞‡πÄ‡∏ä‡∏¥‡∏á‡πÄ‡∏ó‡∏£‡∏≤'
 '‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏π‡∏£‡∏ì‡πå' '‡∏ô‡∏Ñ‡∏£‡∏™‡∏ß‡∏£‡∏£‡∏Ñ‡πå' '‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà' '‡∏ô‡∏Ñ‡∏£‡∏£‡∏≤‡∏ä‡∏™‡∏µ‡∏°‡∏≤' '‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô' '‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ'
 '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£' '‡∏•‡∏≥‡∏õ‡∏≤‡∏á' '‡∏û‡∏¥‡∏©‡∏ì‡∏∏‡πÇ‡∏•‡∏Å' '‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå' '‡∏£‡∏∞‡∏¢‡∏≠‡∏á' '‡∏ä‡∏±‡∏¢‡∏†‡∏π‡∏°‡∏¥'
 '‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ' '‡∏ô‡∏Ñ‡∏£‡∏ô‡∏≤‡∏¢‡∏Å' '‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó' '‡∏™‡∏∏‡∏û‡∏£‡∏£‡∏ì‡∏ö‡∏∏‡∏£‡∏µ' '‡∏ô‡∏Ñ‡∏£‡∏û‡∏ô‡∏°' '‡∏Å‡∏≥‡πÅ‡∏û‡∏á‡πÄ‡∏û‡∏ä‡∏£' '‡∏´‡∏ô‡∏≠‡∏á‡∏Ñ‡∏≤‡∏¢'
 '‡∏ï‡∏≤‡∏Å' '‡∏ï‡∏£‡∏±‡∏á' '‡∏¢‡πÇ‡∏™‡∏ò‡∏£' '‡∏õ‡∏±‡∏ï‡∏ï‡∏≤‡∏ô‡∏µ' '‡∏•‡∏≥‡∏û‡∏π‡∏ô' '‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ' '‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ' '‡∏Å‡∏£‡∏∞‡∏ö‡∏µ‡πà'
 '‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï' '‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡∏£‡∏≤‡∏¢' '‡∏õ‡∏£‡∏≤‡∏à‡∏µ‡∏ô‡∏ö‡∏∏‡∏£‡∏µ' '‡∏û‡∏∞‡πÄ‡∏¢‡∏≤' '‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©' '‡∏≠‡∏∏‡∏ö‡∏•‡∏£‡∏≤‡∏ä‡∏ò‡∏≤‡∏ô‡∏µ'
 '‡∏≠‡∏≥‡∏ô‡∏≤‡∏à‡πÄ‡∏à‡∏£‡∏¥‡∏ç' '‡∏û‡∏±‡∏á‡∏á‡∏≤' '‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î' '‡∏™‡∏ï‡∏π‡∏•' '‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ' '‡∏ä‡∏∏‡∏°‡∏û‡∏£' '‡∏™‡∏¥‡∏á‡∏´‡πå‡∏ö‡∏∏‡∏£‡∏µ'
 '‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏ò‡∏£‡∏£‡∏°‡∏£‡∏≤‡∏ä' '‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏∏‡∏£‡∏µ' '‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå' '‡∏ö‡∏∏‡∏£‡∏µ‡∏£‡∏±‡∏°‡∏¢‡πå' '‡∏™‡∏∏‡πÇ‡∏Ç‡∏ó‡∏±‡∏¢'
 '‡∏´‡∏ô‡∏≠‡∏á‡∏ö‡∏±‡∏ß‡∏•‡∏≥‡∏†‡∏π' '‡∏¢‡∏∞‡∏•‡∏≤' '‡∏™‡∏∏‡∏£‡∏≤‡∏©‡∏é‡∏£‡πå‡∏ò‡∏≤‡∏ô‡∏µ' '‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå' '‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á' '‡∏û‡∏¥‡∏à‡∏¥‡∏ï‡∏£'
 '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°' '‡∏ô‡∏£‡∏≤‡∏ò‡∏¥‡∏ß‡∏≤‡∏™' '‡∏™‡∏∏‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå' '‡∏™‡∏£‡∏∞‡πÅ‡∏Å‡πâ‡∏ß' '‡∏≠‡∏∏‡∏ó‡∏±‡∏¢‡∏ò‡∏≤‡∏ô‡∏µ' '‡πÅ‡∏û‡∏£‡πà' '‡πÄ‡∏•‡∏¢'
 '‡∏ö‡∏∂‡∏á‡∏Å‡∏≤‡∏¨' '‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£']
['‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ' '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£' '‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£' '‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà' '‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ' '‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ'
 '‡∏ô‡∏Ñ‡∏£‡∏õ‡∏ê‡∏°' '‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á' '‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô' '‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ' '‡∏•‡∏û‡∏ö‡∏∏‡∏£‡∏µ' '‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤'
 '‡∏ô‡∏Ñ‡∏£‡∏£‡∏≤‡∏ä‡∏™‡∏µ‡∏°‡∏≤' '‡∏≠‡∏∏‡∏ö‡∏•‡∏£‡∏≤‡∏ä‡∏ò‡∏≤‡∏ô‡∏µ' '‡∏Å‡∏£‡∏∞‡∏ö‡∏µ‡πà' '‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ' '‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå' '‡∏≠‡∏∏‡∏ó‡∏±‡∏¢‡∏ò‡∏≤‡∏ô‡∏µ'
 '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏≤‡∏Ñ‡∏£' '‡∏™‡∏∏‡∏û‡∏£‡∏£‡∏ì‡∏ö‡∏∏‡∏£‡∏µ' '‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡∏£‡∏≤‡∏¢' '‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå' '‡∏Å‡∏≤‡∏ç‡∏à‡∏ô‡∏ö‡∏∏‡∏£‡∏µ'
 '‡∏™‡∏∏‡∏£‡∏≤‡∏©‡∏é‡∏£‡πå‡∏ò‡∏≤‡∏ô‡∏µ' '‡∏ô‡∏Ñ‡∏£‡∏ô‡∏≤‡∏¢‡∏Å' '‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå' '‡∏û‡∏¥‡∏©‡∏ì‡∏∏‡πÇ‡∏•‡∏Å' '‡∏à‡∏±‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ'
 '‡∏â‡∏∞‡πÄ‡∏ä‡∏¥‡∏á‡πÄ‡∏ó‡∏£‡∏≤' '‡∏•‡∏≥‡∏û‡∏π‡∏ô' '‡∏™‡∏á‡∏Ç‡∏•‡∏≤' '‡∏õ‡∏£‡∏≤‡∏à‡∏µ‡∏ô‡∏ö‡∏∏‡∏£‡∏µ' '‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏ò‡∏£‡∏£‡∏°‡∏£‡∏≤‡∏ä' '‡∏´‡∏ô‡∏≠‡∏á‡∏ö‡∏±‡∏ß‡∏•‡∏≥‡∏†‡∏π'
 '‡∏ô‡∏Ñ‡∏£‡∏û‡∏ô‡∏°' '‡∏•‡∏≥‡∏õ‡∏≤‡∏á' '‡∏™‡∏¥‡∏á‡∏´‡πå‡∏ö‡∏∏‡∏£‡∏µ' '‡∏£‡∏∞‡∏¢‡∏≠‡∏á' '‡∏ô‡∏Ñ‡∏£‡∏™‡∏ß‡∏£‡∏£‡∏Ñ‡πå' '‡∏ä‡∏∏‡∏°‡∏û‡∏£' '‡∏û‡∏±‡∏ó‡∏•‡∏∏‡∏á'
 '‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï' '‡∏™‡∏ï‡∏π‡∏•' '‡∏ô‡πà‡∏≤‡∏ô' '‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏π‡∏£‡∏ì‡πå' '‡∏°‡∏´‡∏≤‡∏™‡∏≤‡∏£‡∏Ñ‡∏≤‡∏°' '‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó' '‡πÄ‡∏û‡∏ä‡∏£‡∏ö‡∏∏‡∏£‡∏µ'
 '‡∏™‡∏∏‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå' '‡∏û‡∏∞‡πÄ‡∏¢‡∏≤' '‡∏ä‡∏±‡∏¢‡∏†‡∏π‡∏°‡∏¥' '‡∏™‡∏Å‡∏•‡∏ô‡∏Ñ‡∏£' '‡∏Å‡∏≥‡πÅ‡∏û‡∏á‡πÄ‡∏û‡∏ä‡∏£' '‡∏û‡∏±‡∏á‡∏á‡∏≤' '‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏™‡∏á‡∏Ñ‡∏£‡∏≤‡∏°'
 '‡∏¢‡∏∞‡∏•‡∏≤' '‡πÄ‡∏•‡∏¢']
15

In [ ]:
def extract_feat(df):
  feat = df.copy()
  
  # ‡∏•‡∏≠‡∏á‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞‡∏ó‡∏µ‡πà‡∏°‡∏µ catergory ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ô‡∏£‡∏∞‡∏´‡∏ß‡πà‡∏≤‡∏á train ‡πÅ‡∏•‡∏∞ test ‡πÑ‡∏î‡πâ‡πÅ‡∏Å‡πà brand, transmission ‡πÅ‡∏•‡∏∞ car_type
  dummy_feat = pd.get_dummies(df[['transmission','car_type','brand']])
  feat = pd.concat([feat, dummy_feat], axis=1)

  # dummies_df = pd.get_dummies(feat['brand'])
  # feat = pd.concat([feat,dummies_df],axis=1)
  feat = feat.drop(['brand'],axis=1)

  label = feat['price']
  
  drop_columns = ['location','price','desc','ad_id','timestamp','model','year','fuel','color','transmission','car_type']
  feat = feat.drop(drop_columns, axis=1)

  
  return feat, label

In [ ]:
train_feat, train_label = extract_feat(train_df)
test_feat, test_label = extract_feat(test_df)

In [ ]:
train_feat

     mileage  transmission_‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤  ...  brand_Volvo  brand_‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠‡∏≠‡∏∑‡πà‡∏ô‡πÜ
0       5700                          0  ...            0                  0
1       1234                          0  ...            0                  0
2     100000                          0  ...            0                  0
3     184921                          0  ...            0                  0
4     103000                          0  ...            0                  0
...      ...                        ...  ...          ...                ...
7098  100000                          0  ...            0                  0
7099  169376                          1  ...            0                  0
7100   89000                          0  ...            0                  0
7101  100000                          0  ...            0                  0
7102  310000                          0  ...            0                  0

[7103 rows x 33 columns]

In [ ]:
train_label

0        569000
1       1150000
2        799000
3        429000
4        268000
         ...
7098    1990000
7099     299000
7100    1290000
7101     479000
7102    1238000
Name: price, Length: 7103, dtype: int64

In [ ]:
test_feat

     mileage  transmission_‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡πå‡∏ò‡∏£‡∏£‡∏°‡∏î‡∏≤  ...  brand_Volvo  brand_‡∏¢‡∏µ‡πà‡∏´‡πâ‡∏≠‡∏≠‡∏∑‡πà‡∏ô‡πÜ
0      31200                          0  ...            0                  0
1     267000                          0  ...            0                  0
2          8                          1  ...            0                  0
3     100000                          0  ...            0                  0
4     100000                          1  ...            0                  0
...      ...                        ...  ...          ...                ...
1771   21000                          0  ...            0                  0
1772  100000                          0  ...            0                  0
1773   76508                          1  ...            0                  0
1774  100000                          0  ...            0                  0
1775   80000                          0  ...            0                  0

[1776 rows x 33 columns]

In [ ]:
test_label

0        549000
1        358000
2        529000
3       1135000
4        469000
         ...
1771    1938000
1772     279000
1773     439000
1774     495000
1775     255000
Name: price, Length: 1776, dtype: int64

In [ ]:
# Idea ‡∏à‡∏≤‡∏Å‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà‡∏™‡πà‡∏á‡∏°‡∏≤‡∏Å‡πà‡∏≠‡∏ô‡∏´‡∏ô‡πâ‡∏≤ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏´‡∏≤ value ‡∏ó‡∏µ‡πà error ‡πÉ‡∏ô Column : mileage

err_num = train_feat['mileage']
for i,j in enumerate(err_num):
  try:
    int(j)
  except:
    print('error: index = ',i,' value = ',j)

error: index =  414  value =  72.000
error: index =  1620  value =  1.....
error: index =  3164  value =  18.......
error: index =  3720  value =  376908.9
error: index =  3937  value =  2.....
error: index =  5725  value =  95.100

In [ ]:
err_num = test_feat['mileage']
for i,j in enumerate(err_num):
  try:
    int(j)
  except:
    print('error: index = ',i,' value = ',j)

error: index =  907  value =  16....
error: index =  1648  value =   50,xxx

In [ ]:
# replace ‡∏Ñ‡πà‡∏≤ error

train_feat['mileage'] = train_feat['mileage'].str.split('.',1).apply(lambda x:x[0]).str.replace('x','0').str.replace(',','')
test_feat['mileage'] = test_feat['mileage'].str.split('.',1).apply(lambda x:x[0]).str.replace('x','0').str.replace(',','')


# ‡∏ï‡∏£‡∏ß‡∏à‡∏î‡∏π‡∏Ñ‡πà‡∏≤ error ‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏ó‡∏≥‡∏Å‡∏≤‡∏£ clean 
# ‡πÇ‡∏î‡∏¢‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏π‡∏ï‡∏≤‡∏° index ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ error

print(train_feat['mileage'].iloc[[414,1620,3164,3720,3937,5725]])
print(test_feat['mileage'].iloc[[907,1648]])

414         72
1620         1
3164        18
3720    376908
3937         2
5725        95
Name: mileage, dtype: object
907         16
1648     50000
Name: mileage, dtype: object

In [ ]:
# ‡∏•‡∏≠‡∏á‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô int
train_feat['mileage'] = train_feat['mileage'].astype(int)
test_feat['mileage'] = test_feat['mileage'].astype(int)

# Train Model

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
def train_model(feat, label, lr, es):
  model = GradientBoostingRegressor(random_state=0, learning_rate=lr, n_estimators=es)
  model.fit(feat, label)
  return model

In [ ]:
from sklearn import tree
def train_tree_model(feat, label, md):
  model = tree.DecisionTreeRegressor(max_depth=md)
  model.fit(feat,label)
  return model

In [ ]:
learning_rate = np.array(range(1,10,1))/10.0
print(learning_rate)
for lr in learning_rate:
  model = train_model(train_feat, train_label, lr, es=100 )# error ‡πÅ‡∏£‡∏Å ‡∏ô‡πà‡∏≤‡∏à‡∏∞‡∏•‡∏∑‡∏°‡πÉ‡∏™‡πà‡∏Ñ‡πà‡∏≤ es ‡∏Ñ‡∏£‡∏±‡∏ö
  predict = model.predict(test_feat)
  mse = mean_squared_error(predict, test_label)
  r2 = r2_score(predict, test_label)
  print("lr =",lr,"mse =", mse,"r2score =" ,r2 )

[0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]
lr = 0.1 mse = 127426276824.76791 r2score = 0.5167916199175173
lr = 0.2 mse = 121255505780.90247 r2score = 0.5761602180933166
lr = 0.3 mse = 121942908673.38837 r2score = 0.6316825455862882
lr = 0.4 mse = 111902383652.28548 r2score = 0.6260830309076847
lr = 0.5 mse = 117028570295.32341 r2score = 0.6476793756101267
lr = 0.6 mse = 114728343259.01837 r2score = 0.6534820161710082
lr = 0.7 mse = 120904889458.65439 r2score = 0.6465360917772528
lr = 0.8 mse = 129924794347.34666 r2score = 0.6120715470801958
lr = 0.9 mse = 122116167966.25218 r2score = 0.6608337464384368

In [ ]:
max_depth = range(1,20)
for md in max_depth:
  model = train_tree_model(train_feat, train_label, md)
  predict = model.predict(test_feat)
  mse = mean_squared_error(predict, test_label)
  print(md, mse)

1 287644348423.235
2 246153597020.31024
3 188050017526.36374
4 187190168306.04257
5 166867263886.46448
6 150075796007.8988
7 174928542432.96906
8 138480900653.7152
9 144307799783.47183
10 143268319431.7163
11 143275756097.97952
12 145030351055.44077
13 148035992785.4421
14 149852647479.38266
15 151422002728.49112
16 150131670828.36862
17 149738833217.26593
18 150085932818.16428
19 147545337701.79736

# Evaluation

In [ ]:
def eval_acc(predict, actual):
  acc = sum(predict == actual) / len(actual)
  return acc

In [ ]:
from sklearn.metrics import mean_squared_error

predict = model.predict(test_feat)
mse = mean_squared_error(predict, test_label)

In [ ]:
print(mse)

147545337701.79736